header, footer, main{
    height: 300px;

}
header, footer{
    height: 100px;
}
header{
    background: red;
}
main{
    display: flex;
}
section{
    background: green;
    width: 40%;
}

aside{
    background: blue;
    width: 30%;
}

footer{

    background: yellow;
}