html, body { height: 100%; }
body{
  margin: 15px;
  background-color: lightgrey;
  font-family: 'Lora', 'serif';
}
.container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto 40px;
    grid-template-areas: 
      "h h h h m m m m m m m m"
      "c c c c c c c c c c c c"
      "f f f f f f f f f f f f";
      /* things must be in rectangles and squares */
  }

  .header {
   
    grid-area: h;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
  }

  .menu {
    background-color:  gray;
    grid-area: m;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    flex-grow: 1;
  }
  .weekOf{
    font-size: 12px;
    
  }
  .btnSetDate{
    background-color: yellow;
    /* border: solid 1px grey; */
    border-radius: 4px;
    box-shadow: 0 4px 2px -2px gray;
  }

  .content {
    font-family: 'Raleway', sans-serif;
    /* background-color: seagreen; */
    background-image: url(../img/pexels-photo-326311.jpeg);
    grid-area: c;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    border: gray 2px solid;
    padding: 10px;
    border-radius: 10px;
    flex-grow: 1;

    
  }
  .contentInnerHeading{
    display: flex;
    justify-content:space-between;
    align-items: flex-end;
    width: 100%;
    
  }

  .tab{
    background-color:lightyellow;
    border-radius: 8px;
    padding: 4px;
    font-family: 'Lora', 'serif';
    box-shadow: inset 0 4px 10px -2px darkblue;
  }
  .userPrize{
    color:white;
  }  
  .wrapper-outer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    /* border:gray 1px solid;
     */
    width: 100%;
    background-color: lightgray;
   
  }
  .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 8px;
    /* border:gray 1px solid;
     */
    /* width: 100%; */
    /* background-color: lightgray; */
    background-image: url(../img/floralWallPaper.png);
    
    background-color: bisque;
   
  }
  .row{
    border: solid 2x gray; 
    box-shadow: 0 4px 2px -2px gray; 
  }
  
  .dayHead{
    background-color:gray;
    margin: 0px;
    padding: 4px;
    font-family: 'Lora', 'serif';
    box-shadow: inset 0 4px 11px -2px black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

  }
  .dayHead-h{
    margin: 1px;
  }
  
  ul{
    list-style:none;
  }
  

  a.remove{
    text-decoration: none;
    color: red;
  }
  a.add{
    text-decoration: none;
    color: red;
    text-align: center;
    background: linen;
    border-radius: 4px;
    box-shadow: 0 4px 2px -2px grey;
    padding: 2px;
    margin: 3px;
    width: 20px;
    
  }
  .footer {
   
    background-color:  gray;
    grid-area: f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lora', 'serif';
    border-radius: 10px;
  }

  @media (max-width: 550px) {
    .menu {
      display: inherit;
    }
    .contentInnerHeading{
      display: block;
    }
  }
 